# Q1 How can we store a s1ngle quote (‘) as a str1ng 1n a var1able?

## To store a single quote character ('), you can use different approaches depending on the programming language or context you are working with. Here are a few common methods: 1. Escape the single quote: In many programming languages, you can use the backslash () as an escape character to indicate that the following character should be treated as a literal character. To store a single quote as a string, you can escape it using a backslash. For example:
## Python: my_variable = '\'
## Use double quotes for the string: Another approach is to use double quotes (") to define the string literal, which allows the single quote to be used without any special handling. For example:

## Python: my_variable = "'"
## Store the single quote as a character and convert it to a string if needed: Some programming languages have specific data types to represent characters. You can store the single quote as a character and convert it to a string when necessary. For example:

## Python: my_variable = ord("'") (To get the character as an integer code) or my_variable = chr(39) (To get the character as a string)

## These are some common approaches to store a single quote as a string in a variable. The specific method to use may depend on the programming language and the context in which you need to store the single quote.

# Q2. Refer the below var1able:
# x = ‘a(
# Here, is x a character type or str1ng type var1able? Support your answer w1th an explanat1on.

## Based on the provided variable x = 'a(, it appears that x is a string type variable. The presence of the single quotes surrounding the value 'a( indicates that x is a string literal. In many programming languages, single quotes are typically used to define character literals, while double quotes are used for string literals. However, the specific usage of single quotes or double quotes may vary depending on the programming language. In this case, the fact that the value 'a(`` is enclosed in single quotes suggests that it is treated as a string rather than a character. If it were intended to be a character literal, it might be written as x = 'a'orx = '('`, depending on the desired character. Therefore, based on the usage of single quotes and the value assigned to x, it can be inferred that x is a string type variable.

# Q3.Apply the follow1ng funct1ons on th1s var1able: ‘Welcome to Python foundation course'
# 1.find()
# 2. count()
# 3. len()
# 4. Concatenation

In [2]:
x = 'Welcome to Python foundation course'
x.find('Python')

11

In [6]:
x.count('t')

3

In [9]:
len(x)

35

In [10]:
words = ["Welcome","to", "Python", "foundation", "course"]
concat_str = " ".join(words)
print(concat_str)

Welcome to Python foundation course

# Q4. For the var1able: word = ‘PanaJi@12256'
# Calculate the followings:
# 1. Total number of alphabets in lowercase
# 2. Total number of alphabets in uppercase
# 3. Total number of numer1cal in str1ng

In [12]:
word = 'PanaJi@12256'
lowercase_count = sum(1 for char in word if char.islower())
print(lowercase_count)

4

In [14]:
word = 'PanaJi@12256'
uppercase_count = sum(1 for char in word if char.isupper())
print(uppercase_count)

2

In [15]:
word = 'PanaJi@12256'
numeric_count = sum(1 for char in word if char.isdigit())
print(numeric_count)

5

# Q5 Wr1te a code to store a numer1cal value inside a variable then convert it 1nto string.

In [16]:
# Storing a numerical value in a variable
num = 42
print("num =", num)
print("Type of num:", type(num))

# Converting the numerical value to a string
num_str = str(num)
print("num_str =", num_str)
print("Type of num_str:", type(num_str))

num = 42
Type of num: <class 'int'>
num_str = 42
Type of num_str: <class 'str'>